#!/usr/bin/env bash

NICK="SysLog";
ACCOUNT="syslog@jabber.ua";
PASSWD="******";
ADMINS="your-jid@jabber.ua, more-jid@jabber.ua";
VOLUME="/home/zen/Desktop/jbot/data";
UGUID=$(stat -c "%u:%g" "$VOLUME");

test -n "$(which docker 2> /dev/null)" || {
    echo "docker: command not found" 1>&2;
    exit 1;
}

echo "Updating nightwolf/freqbot container...";
docker pull nightwolf/freqbot;

echo "Restarting jabber-bot...";
docker stop jabber-bot &>> /dev/null;
docker rm jabber-bot &>> /dev/null;

ID=$(
    docker run -d --net=host --name jabber-bot \
        -e NICK="$NICK" \
        -e ACCOUNT="$ACCOUNT" \
        -e PASSWD="$PASSWD" \
        -e ADMINS="$ADMINS" \
        -v "$VOLUME":/data \
        -u $UGUID \
        nightwolf/freqbot
);
echo "Container ID: $ID";

exit 0;

